<%- include('partials/header') %>

<main>
<section id="main-section">
  <div class="section-header">
    <h2>Lista Ocorrências</h2>
    <div class="section-header-links">
      <button type="button" name="button" class="material-symbols-outlined filtro_icon" data-bs-toggle="modal" data-bs-target="#exampleModal">filter_alt</button>
      <button class="btn btn-success relatorio_btn" type="button" name="button">Relatório</button>
      <a class="aTag" href="ocorrencia">
      <button class="btn btn-primary" type="button" name="button">Nova Ocorrência</button>
      </a>
    </div>

  </div>
  <div class="section-body">
    <table class="ocorrencias_table_title">
      <thead>
        <tr>
          <th class="th_numero">Nº</th>
          <th class="th_descricao">Descrição</th>
          <th class="th_cliente">Cliente</th>
          <th class="th_data">Data</th>
          <th class="th_erroVersao">Versão Erro</th>
          <th class="th_solucaoVersao">Versão Solução</th>
          <th class="th_baseTeste">Base Testada</th>
        </tr>
      </thead>
      <tbody class="ocorrencias_table_body">

      <%  tables.forEach(function(dado){ %>
          <tr class="tableLink" onclick="location.href = 'resolver/<%=dado.numeroOcorrencia%>'">
            <td><%=dado.numeroOcorrencia%></td>
            <td><%=dado.descricaoOcorrencia%></td>
            <td><%=dado.clienteOcorrencia%></td>
            <td><%=dado.dataOcorrencia.toLocaleString('pt-br').substr(0,10)%></td>
            <td><%=dado.versaoErro%></td>
            <%  if (dado.versaoSolucao === null || dado.baseTestada === null) { %>
                <td>N/A</td>
                <td>N/A</td>
            <%}else{  %>
              <td><%=dado.versaoSolucao%></td>
              <td><%=dado.baseTestada%></td>
        <%  } %>
          </tr>
      <%  }); %>
      </tbody>
    </table>
  </div>

</section>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post">
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<%- include('partials/footer') %>
