<%- include('partials/header') %>

<main>
<section id="main-section">
  <div class="section-header">
    <h2>Lista Ocorrências</h2>
    <div class="section-header-links">
      <button type="button" name="button" class="material-symbols-outlined filtro_icon" data-bs-toggle="modal" data-bs-target="#filtrosModal">filter_alt</button>
      <a class="aTag" href="relatorio">
      <button class="btn btn-success relatorio_btn" type="button" name="button">Relatório</button>
      </a>
      <a class="aTag" href="ocorrencia">
      <button class="btn btn-primary" type="button" name="button">Nova Ocorrência</button>
      </a>
    </div>

  </div>
  <div class="section-body">
    <div class="filtrado">
    <h6 class="registros"><%= registro %></h6>
    <h6 class="pfiltrado"><%= filtro %></h6>
    </div>
    <table class="ocorrencias_table_title">
      <thead>
        <tr>
          <th class="th_numero">Nº</th>
          <th class="th_descricao">Descrição</th>
          <th class="th_cliente">Cliente</th>
          <th class="th_data">Data</th>
          <th class="th_erroVersao">Versão Erro</th>
          <th class="th_solucaoVersao">Versão Solução</th>
          <th class="th_baseTeste">Base Testada</th>
        </tr>
      </thead>
      <tbody class="ocorrencias_table_body">
      <%  tables.forEach(function(dado){ %>
          <tr class="tableLink" onclick="location.href = 'resolver/<%=dado.numeroOcorrencia%>'">
            <td><%=dado.numeroOcorrencia%></td>
            <td><%=dado.descricaoOcorrencia%></td>
            <td><%=dado.clienteOcorrencia%></td>
            <td><%=dado.dataOcorrencia.toLocaleString('pt-br').substr(0,10)%></td>
            <td><%=dado.versaoErro%></td>
            <%  if (dado.versaoSolucao === null || dado.baseTestada === null) { %>
                <td class="solucaoCampo">N/A</td>
                <td class="baseCampo">N/A</td>
            <%}else{  %>
              <td><%=dado.versaoSolucao%></td>
              <td><%=dado.baseTestada%></td>
        <%  } %>
              <!-- <td><span class="material-symbols-outlined lixeira" data-bs-toggle="modal" data-bs-target="#alertaDeletar">delete</span></td> -->
          </tr>
      <%  }); %>

      </tbody>
    </table>
  </div>

</section>
</main>

<!-- Modal Filtros-->
<div class="modal fade" id="filtrosModal" tabindex="-1" aria-labelledby="tituloFiltros" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloFiltros">Filtros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="filtrosForm" action="/filtrados" method="post">
          <div class="divMain-body">
            <div class="divColum1">
              <div class="flexColumn">
                <label for="">Nº Ocorrência</label>
                <input type="text" class="nOcorrencia" name="nOcorrencia">
              </div>
              <div class="flexColumn">
                <label for="">Cliente</label>
                <input type="text" name="clienteOcorrencia">
              </div>
              <div class="flexColumn">
                <label for="">Versão Solução</label>
                <input type="text" name="versaoSolucao">
              </div>
              <div class="flexColumn">
                <label for="">Data Inicial</label>
                <input class= "dataInicial" type="date" name="dataInicial">
              </div>
            </div>
            <div class="divColum2">
              <div class="flexColumn">
                <label for="">Descrição</label>
                <input type="text" name="descricaoOcorrencia">
              </div>
              <div class="flexColumn">
                <label for="">Versão Erro</label>
                <input type="text" name="versaoErro">
              </div>
              <div class="flexColumn">
                <label for="">Base Testada</label>
                <input type="text" name="baseTestada">
              </div>
              <div class="flexColumn">
                <label for="">Data Final</label>
                <input class= "dataFinal" type="date" name="dataFinal">
              </div>
            </div>
          </div>
          <div class="divSecondary-body">
            <div class="divColum3">
              <div class="divCheck1"><input type="radio" name="check" value="" checked>Todos</input></div>
              <div class="divCheck2"><input type="radio" name="check" value="F">Não Resolvidos</input></div>
              <div class="divCheck3"><input type="radio" name="check" value="T">Resolvidos</input></div>
            </div>
          </div>
          <div class="divTertiary-body">
            <label>Status:</label>
            <select class="selectStatus" name="selectStatus">
              <option value="">Selecione...</option>
              <option value="correcao">Correção</option>
              <option value="implementacao">Implementação</option>
              <option value="melhoria">Melhoria</option>
              <option value="duvida">Dúvida</option>
            </select>
          </div>
          <input hidden type="radio" name="filtroPage"  value="filtro" checked>
          <input class="procedimentosCheck" type="checkbox" name="procedimento" value="" checked hidden>
        </form>
      </div>
      <p class="alerta"></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" form="filtrosForm" >Filtrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alertaDeletar" tabindex="-1" aria-labelledby="alertaDeletar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloExcluir"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="confirmarExclusao" action="/excluir" method="post">
          <p class='alerta'>Tem certeza que deseja excluir este orçamento?</p>
          <input type="text" class="ocorrenciaOculta" name="ocorrenciaOculta" hidden>
        </form>
      </div>
      <p class="alerta"></p>
      <div class="modal-footer div-confirmar-negar">
        <button type="button" class="btn btn-secondary negar" data-bs-dismiss="modal">Não</button>
        <button type="submit" class="btn btn-primary confirmar" form="confirmarExclusao" >Sim</button>
      </div>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
  $(".lixeira").on('click',function(event){
    let ocorrencia = ''
    event.stopPropagation();
    let proximo = event.target.closest('tr')
    ocorrencia = proximo.firstElementChild.innerText
    $("#tituloExcluir")[0].innerText = `Excluir Ocorrência: ${ocorrencia}`
    $(".ocorrenciaOculta").val(ocorrencia)
  })
</script> -->

<%- include('partials/footer') %>
